.logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}
.content {
    display: flex;
    justify-content: center;
    a {
        padding-right: 30px;
        text-decoration: none;
        color: $text-col;
        &:hover, &:active {
            color: $title-text;
        }
    }
}
.only-mobile {
    display: none;
}


@media screen and (max-width: 992px) {
    .only-desktop {
        display: none;
    }
    .only-mobile {
        display: flex;
        justify-content: center;
    }
}