.product {
    .hero {
        h1 {
            padding-top: 25px;
        }
        img {
            display: block;
        }
        .content {
            max-width: 1000px;
            margin: 0 auto;
            padding-bottom: 30px;
        }
    }
    
}